@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
    primary: #444444,
    secondary: #353535,
    tertiary: #7a7a7a,
    info: #3194e4
);


body {
    color: white;
}

.dropdown-menu > li > a:hover {
    background-color: $secondary;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";